@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../fonts/OpenSans-Regular/OpenSans-Regular.eot');
    src: url('../fonts/OpenSans-Regular/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Regular/OpenSans-Regular.woff2') format('woff2'),
    url('../fonts/OpenSans-Regular/OpenSans-Regular.woff') format('woff'),
    url('../fonts/OpenSans-Regular/OpenSans-Regular.ttf') format('truetype');
    // url('../fonts/OpenSans-Regular/OpenSans-Regular.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-SemiBold';
    src: url('../fonts/OpenSans-SemiBold/OpenSans-SemiBold.eot');
    src: url('../fonts/OpenSans-SemiBold/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-SemiBold/OpenSans-SemiBold.woff2') format('woff2'),
    url('../fonts/OpenSans-SemiBold/OpenSans-SemiBold.woff') format('woff'),
    url('../fonts/OpenSans-SemiBold/OpenSans-SemiBold.ttf') format('truetype');
    // url('../fonts/OpenSans-SemiBold/OpenSans-SemiBold.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NexaHeavy-Regular';
    src: url('../fonts/NexaHeavy-Regular/NexaHeavy-Regular.eot');
    src: url('../fonts/NexaHeavy-Regular/NexaHeavy-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NexaHeavy-Regular/NexaHeavy-Regular.woff2') format('woff2'),
    url('../fonts/NexaHeavy-Regular/NexaHeavy-Regular.woff') format('woff'),
    url('../fonts/NexaHeavy-Regular/NexaHeavy-Regular.ttf') format('truetype');
    // url('../fonts/NexaHeavy-Regular/NexaHeavy-Regular.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}


h1, h2, h3, h4, h5, h6, a, p, span {
    line-height: 1.0;
}

//для встроенных переменных
$title-color: green;
$primary-font: 'OpenSans-Regular';
$secondary-font: 'NexaHeavy-Regular';